.d-flex{
    display: flex;
}
.justify-center{
    justify-content:center;
}
.justify-space-between{
    justify-content:space-between;
}
.justify-space-evenly{
    justify-content:space-evenly
}
.flex-row{
    flex-direction: column;
}
.gap1{
    /* background-color: red; */
    gap: 5px;
}
.gap2{
    gap: 20px;
}
.r-gap1{
    row-gap: 10px;
}

.items-center{
    align-items:center;
}
.self-center{
    align-self: center;
}




.bg-brown{
    background-color:	#805232;
}
.bg-cream{
    background-color:	#FFF1E7;
}
.bg-lightblue{
    background-color:	#B5D2E6;
}


.fw-bold{
    font-weight:900;
}
.fs-50{
    font-size: 50px;
}
.fs-25{
    font-size: 25px;
}
.fs-20{
    font-size: 20px;
}
.fs-14{
    font-size: 13px;
}

.text-center{
    text-align: center;
}
.text-start{
    text-align:start;
}
.text-end{
    text-align:end;
}

.text-info{
    color: rgb(99, 99, 255);
}
.text-white{
    color: #ffffff;
}
.text-cream{
    color: #FFF1E7;
}
.text-brown{
    color: #805232;
}
.text-danger{
    color: #910000;
}
.text-muted{
    color: #cecece;
}
.text-none{
    text-decoration: none;
}


.py05{
    padding-top: 5px;
    padding-bottom: 5px;
}
.py1{
    padding-top: 10px;
    padding-bottom: 10px;
}
.px075{
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.px1{
    padding-left: 10px;
    padding-right: 10px;
}
.px2{
    padding-left: 20px;
    padding-right: 20px;
}
.px3{
    padding-left: 30px;
    padding-right: 30px;
}
.p1{
    padding: 10px;
}
.p2{
    padding: 20px;
}
.p3{
    padding: 33px;
}


.my05{
    margin-top: 5px;
    margin-bottom: 5px;
}
.my1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.my2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mx1{
    margin-left: 10px;
    margin-right: 10px;
}
.mx2{
    margin-left: 20px;
    margin-right: 20px;
}
.mx-auto{
    margin: 0 auto;
}
.mt1p{
    margin-top: 10vh;
}
.ml2{
    margin-left: 20px;
}
.m1{
    margin: 10px;
}
.m2{
    margin: 20px;
}
.mt1{
    margin-top: 10px;
}
.mt2{
    margin-top: 20px;
}

.mb02{
    margin-bottom: 2px;
}
.mb05{
    margin-bottom: 5px;
}
.mb1{
    margin-bottom: 10px;
}
.mb2{
    margin-bottom: 20px;
}

.ml1{
    margin: 0 0 0 10px;
}
.ml8{
    margin: 0 0 0 80px;
}


.h-200vh{
    height: 146.1vh;
}
.h-100vh{
    height: 100vh;
}
.h-10vh{
    height: 10vh;
}
.min-h-200vh{
    min-height: 200vh;
}
.min-h-100vh{
    min-height: 100vh;
}
.min-h-90vh{
    min-height: 90vh;
}
.min-h-80vh{
    min-height: 80vh;
}
.min-h-20vh{
    min-height: 20vh;
}
.min-h-10vh{
    min-height: 10vh;
}
.h100{
    height: 100%;
}
.h80p{
    height: 80%;
}
.h20p{
    height: 20%;
}


.wauto{
    width: auto;
}
.w100{
    width: 100%;
}
.w95{
    width: 95%;
}
.w80{
    width: 80%;
}
.w75{
    width: 75%;
}
.w70{
    width: 70%;
}
.w65{
    width: 65%;
}
.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w33{
    width: 33.33%;
}
.w40{
    width: 40%;
}
.w35{
    width: 35%;
}
.w30{
    width: 30%;
}
.w25{
    width: 25%;
}
.w20{
    width: 20%;
}
