*{
    z-index: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#hero{
    padding-top:100px;
    padding-bottom:100px;
}

#navbar{
    position: fixed;
}

.container{
    padding: 20px 120px;
}

#section3{
    padding-top: 180px;
}


#section2{
    padding-top: 100px;
    padding-bottom: 50px;
}
#footer{
    margin-top: 129px;
}
#wave{
    position: absolute;
    /* top: 10; */
    /* bottom: 10; */
}

#hero-kopi{
    width: 100%;
    max-width: 500px;
}

.img-carousel{
    width: 100%;
    height: auto;
    max-width: 370px;
}

.card{
    background-color: white;
    border: 2px solid #805232;
    border-bottom: 7px solid #805232;
    border-radius: 15px;
    padding: 30px;
}
.img-rounded{
    border-radius: 10px;
}
.border-05{
    /* border: 1px solid rgb(65, 65, 65); */
    border-radius: 2px;
}
.border-pill{
    /* border: 1px solid rgb(65, 65, 65); */
    border-radius: 100px;
    padding: 7px 30px;
}
.border-1-square{
    border: 1px solid black;
}
.border-y{
    border-top: 1.5px solid #1f1f1f;
    border-bottom: 1.5px solid #1f1f1f;
}

